<!---
──────────────────────────────────── ✗
a web app for calculating recommended wake up times 
according to a person's average sleep cycle

emma mujezinovic
──────────────────────────────────── ✗
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>🌙 SnoozeMinder ┃ Sleep Cycle Calculator</title>
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div id="title"><strong>SnoozeMinder</strong></div>
    <div class="container">
        <div id="left">
            <!-- pixel to open the left modal -->
            <div id="left-pixel" class="tooltip" data-tooltip="About">
                <button class="modal-button" href="#left-modal"></button>
            </div>
            <div id="left-modal" class="modal">
                <div class="modal-content">
                    <div class="modal-header"> <span class="close">×</span>
                        <h1>About SnoozeMinder 🌙</h1>
                    </div>
                    <div class="modal-body">
                        <p>Waking up feeling refreshed is the key to having a good day. The best way to accomplish that is to wake up at a time where you're not disrupting your own sleepcycle. A sleep cycle calculator like this works by timing the average cycle and applying it several times to offer different wake-up times, so you can wake up at just the right time!<img class="modal-img" src="https://64.media.tumblr.com/f750a5b7f2ba7d473a7324189bea6266/d3865c33e28835bd-f5/s1280x1920/49dec66e38d705f49dde22dcaa84e317a46fe6d4.pnj" height="250" width="250">
                        <h4>There are four stages to a sleep cycle. Usually, a person goes through 4-6 sleep cycles a night.</h4>
                        <img src="https://64.media.tumblr.com/208eca0def148b4f55c78afc2c0bfe63/bd9723b3e47c3305-c1/s1280x1920/d6eb921fd5c65459679515380fa8a4ce3286c18c.pnj" height="13" width="340">
                        <p>The first three stages are known as NREM — Non Rapid Eye Movement. The higher the stage of NREM sleep, the harder it is to wake up!</p>
                        <p><strong><span style="color: #e685ac">Stage 1</span></strong>, also known as N1, typically lasts for 1-7 minutes. This is basically when you're falling asleep.</p>
                        <p><strong><span style="color: #e685ac">Stage 2</span></strong>, N2, lasts a bit longer, for 10-25 minutes. Your body is more subdued in this stage.</p>
                        <p><strong><span style="color: #e685ac">Stage 3</span></strong> has a few more names. N3, slow-wave sleep, delta sleep, or deep sleep. This stage lasts for 20-40 minutes. It's hard to wake someone up during this stage, and this stage is theorized to be critical to restorative sleep. It's important!</p>
                        <p>As you continue sleeping, these three initial stages actually get shorter in length and we start to spend more time in stage 4.</p>
                        <p><strong><span style="color: #e685ac">Stage 4</span></strong> is when we finally reach REM sleep, which stands for Rapid Eye Movement. This stage lasts for 10-60 minutes. In this stage, your eyes are moving, well, rapidly. Your brain activity picks up, and you can get some pretty vivid dreams.</p>
                        If you want to know more, check out <a href="https://www.cci.health.wa.gov.au/~/media/CCI/Mental-Health-Professionals/Sleep/Sleep---Information-Sheets/Sleep-Information-Sheet---01---Facts-About-Sleep.pdf">this handout by the Centre for Clinical Interventions</a>, and sleep well! ✨🛏️💤 </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="outer-box">
            <div class="inner-box">
                <h5 class="text">A Sleep Cycle Calculator</h5>
                <div class="line">
                    <div id="line-break"></div>
                </div>    
                <p class="inside-text">When do you want to wake up?</p>
                <div class="time-picker">
                    <input type="text" class="time-pickable" readonly>
                </div>
                <div id="calculate"><button id="calculate-button">Calculate</button></div>
                <div id="results-container" style="display: none;">
                    <ul id="results-list">
                        <div class="result-item"></div>
                    </ul>
                </div>
                
            </div>
        </div>
        <div id="right">
            <!-- pixel to open the right modal -->
            <div id="right-pixel" class="tooltip" data-tooltip="Dev">
                <button class="modal-button" href="#right-modal"></button> 
            </div> 
            <div id="right-modal" class="modal">
                <div class="modal-content">
                    <div class="modal-header"> <span class="close">×</span>
                        <h1>The Developer</h1>
                    </div>
                    <div class="modal-body">
                        <p>Hi! My name is Emma and I'm currently a student studying Computer Science and minoring in Psychology. This is a personal project of mine to learn some HTML, CSS, JS and NodeJS.</p><img class="modal-img" src="https://64.media.tumblr.com/0759fc44b823d2c60c4b84b81ab637b3/d3865c33e28835bd-05/s1280x1920/6fbd7483f09e5cc92da6d2376f21612d30a2d67c.pnj" height="250" width="250"> 
                        <img src="https://64.media.tumblr.com/208eca0def148b4f55c78afc2c0bfe63/bd9723b3e47c3305-c1/s1280x1920/d6eb921fd5c65459679515380fa8a4ce3286c18c.pnj" height="13" width="340">
                        <p> The sleep cycle was a lot of fun to learn in my Psych classes, and I wanted to apply that knowledge in a way that I myself would use.</p>
                        <p>Future plans include adding a sleep tracker of sorts, and maybe experimenting with making this into an actual alarm clock app — but this is only a personal project, so there's no promises or set dates on that.</p>
                        <h3> Thank you for your interest! 🤍</h3>
                        <p><a href="https://github.com/emma-h-m">Github</a>&nbsp;&nbsp; ⊹ &nbsp;&nbsp;<a href="www.linkedin.com/in/emma-h-m">LinkedIn</a>&nbsp;&nbsp; ⊹  &nbsp;&nbsp;<a href="">Website</a>&nbsp;&nbsp; ⊹  &nbsp;&nbsp;<a href="emmamuje@gmail.com">Email</a></p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>