/* root for css file */
:root {
    --header-font: 'Sriracha';
    --body-font: 'Montserrat';
    --main-bg-color: #91afc5;
    --outer-box-color: #bfdaf88e;
    --inner-box-color: #ecd9e4;
    --text-color: #4d3f43;
    --accent-color: #ffabcd;
    --accent-color2: #b9d4f2;
	--accent-color3: #b2adce79;
    --night-sky: url("https://images.unsplash.com/photo-1517315003714-a071486bd9ea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80");
    --left-pixel: url('https://64.media.tumblr.com/06f00d757f379bfde2e26ee2e63ed728/d3865c33e28835bd-ff/s1280x1920/4fcb9d66b7341da44dd8c0b110e8b76c50128db0.pnj');
    --right-pixel: url('https://64.media.tumblr.com/df2af0a374800e926534b73b67941399/d3865c33e28835bd-be/s1280x1920/bf2859f24b5308c8a4558c135c572edd7c18b2b2.pnj');
    --line-break: url('https://64.media.tumblr.com/tumblr_lmzodxZaOI1qg9aa7.gif');
}

body, html {scroll-behavior: smooth;margin: 0;padding: 0;scrollbar-color: var(--accent-color2) var(--accent-color);}

body {margin: 0;padding: 0;font-family: var(--body-font);background-image: var(--night-sky);background-size: cover;background-repeat: no-repeat;
background-attachment: fixed; background-position: center center;}

/* change highlight text color */
::selection {
	background: var(--accent-color)
}

#title {
	font-family: var(--header-font);
	text-align: center;
	color: #ffffff;
	font-size: 80px;
	-webkit-text-stroke: 2px var(--accent-color);
	text-align: center;
	letter-spacing: 5px;
	margin-top: 130px;
}

/* main section after title */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-top: -255px;
}

.outer-box {
    width: 500px; 
    height: 400px; 
    background-color: var(--outer-box-color); 
    border-radius: 30px; 
    padding: 30px; 
    margin-top: 40px;
    margin-bottom: 0px;
}
    
.inner-box {
    height: 380px;
    background-color: var(--inner-box-color);
    padding: 10px; 
    border-radius: 30px; 

}

/* contents inside box */
.text {
    color: var(--text-color); 
    font-size: 18px; 
    text-align: center;
}

.inside-text {
	color: var(--text-color);
	font-size: 18px;
	text-align: center;
}

.line {
	margin-top: -10px;
}

#line-break {
    width: 30em;
    height: 1em;
    background: var(--line-break) center / contain no-repeat;
}

/* picking a time */
.time-picker {
	position: absolute;
	display: flex;
	padding: 10px;
	background: var(--accent-color3);
	border-radius: 6px;
	top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
	height: 30px
}

.time-pickable {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	text-align: center;
	border: 1px solid var(--accent-color2);
	border-radius: 6px;
	padding: 6px 10px;
	background: #fffcfc;
	cursor: pointer;
	font-family: var(--body-font);
	text-transform: uppercase;
}

/* results */
#results-container {
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
	
}

#results-list {
    list-style-type: none;
    padding: 0;
	display: flex;
}

#results-list li {
    margin: 5px 5px;
    font-size: 20px;
	font-family: var(--body-font);
	margin-left: 15px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.result-item {
    animation: fadeIn 0.9s ease-in-out;
}

/* calculate button */
#calculate {
	text-align: center;
	margin-top: 110px;
}

#calculate-button {
	background-color: var(--accent-color);
	text-transform: uppercase;
	font-family: var(--body-font);
	font-size: 15px;
	padding: 7px;
	border: none;
	border-radius: 10px;
	outline: none;
	-webkit-transition: box-shadow 100ms ease-in-out, background 200ms linear, color 200ms ease-in;
	-moz-transition: box-shadow 100ms ease-in-out, background 200ms ease-in-out, color 200ms ease-in;
	transition: box-shadow 100ms ease-in-out, background 200ms ease-in-out, color 200ms ease-in;
	-webkit-box-shadow: 4px 4px 0px 0px var(--accent-color3);
  	-moz-box-shadow: 4px 4px 0px 0px var(--accent-color3);
  	box-shadow: 4px 4px 0px 0px var(--accent-color3);
  	backface-visibility: hidden;
  	-webkit-backface-visibility: hidden;
}

#calculate-button:hover {
	box-shadow: 0px -1px 0px -1px var(--accent-color3);
  	border: 2px solid var(--accent-color3);
  	background: var(--accent-color3);
  	color: #FFF;
  	backface-visibility: hidden;
  	-webkit-backface-visibility: hidden;
}

/* pixel and modals */
#right-pixel, #left-pixel {
	width: 6em;
	height: 6em;
}

#right-pixel {
	float: left;
	background: var(--right-pixel) center / contain no-repeat;
    margin-left: 40px;
}

#left-pixel {
	float: right;
	background: var(--left-pixel) 
    center / contain no-repeat;
    margin-right: 40px;
}

#right-pixel > p, #left-pixel > p {
	text-align: center;
	font-style: italic;
	background-color: var(--box-color);
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding: 10em 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	position: relative;
	background: #d9e7f8;
	margin: auto;
	overflow: auto;
	padding: 0;
	border: 4px solid var(--accent-color);
	width: 36vw;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
	from {
		top: -30vh;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes animatetop {
	from {
		top: -30vh;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}

.modal-header {
	padding: 0 1.5em;
	border-bottom: 2px solid var(--accent-color);
    font-family: var(--header-font);
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    color: #5285a8;
	text-transform: uppercase;
}

.modal-body {
	overflow-y: scroll;
	padding: 0.5em 1em;
	max-height: 45vh;
    color: var(--text-color);
}

.modal-button {
    padding: 1em;
	background: none;
	color: inherit;
	outline: inherit;
	border: none;
	cursor: pointer;
	height: inherit;
	width: inherit;
}

.modal-img {
	max-height: 30vh;
	max-width: 100%;
	padding: 5px;
	float: right;
}

.close {
	color: var(--accent-color);
	float: right;
	font-size: 2.5em;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: var(--inner-box-color);
	text-decoration: none;
	cursor: pointer;
}

/* hover over pixel text */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -35%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--accent-color2);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
	box-shadow: 4px 4px 0px 0px var(--main-bg-color);
	font-family: var(--body-font);
	text-transform: uppercase;
}

.tooltip:hover::before {
    opacity: 1;
    visibility: visible;
}
